body {
    background-color: red;
    /*background: #82c9d7;*/
}

/*#Burger {*/
/*    color: saddlebrown;*/
/*    background-color: aqua;*/
/*}*/

/*#Onions {*/
/*    color: green;*/
/*    background-color: aqua;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    border: 0;*/
/*}*/

/*#Fries {*/
/*    color: orange;*/
/*    background-color: aqua;*/
/*}*/

/*.Strawberry {*/
/*    color: red;*/
/*}*/

/*.Blueberry {*/
/*    color: dodgerblue;*/
/*}*/

/*Margin: 0px removes the space between divs. Pretty useful*/
.linkContainer {
    width: 100%;
    height: 100%;
}

p {
    background: #22e500;
    padding: 10px;
    margin: 5px;
    border-style: ridge;
    border-color: orange;
    border-width: 5px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    color: black;
}

li {
    color: darkred;
}

li a {
    color: green;
}

body {
    color: green;
}

/*Any element with both company AND red classes*/
.company.red {

}

/*all elements with class red INSIDE of elememnts with company class*/
.company, .red {

}

/*all elements with company OR red class*/
.company, .red

